<% title "#{params[:q]} - 搜一下" %>

<% content_for :left_side_bar do %>
<h3>类似问题</h3>
<hr/>
  <ul>
  <% @result[:ext_key_arr].each do |ext_key| %>
    <li><%= link_to ext_key.title, "/?t=#{ext_key.source}&q=#{ext_key.title}" %></li>
  <% end %>
  </ul>
<% end %>

<% if @result[:record_arr].empty? %>
  <h3>&nbsp;&nbsp;&nbsp;&nbsp; 没有找到相关内容!</h3>
<% else %>
  <% @result[:record_arr].each_with_index do |r, index| %>
    <div class="result" id="<%=index%>">
      <h3><%= link_to r.title, go_path(:url => r.url), :target => '_blank'%>
        <span class="span_edit">
<% if r.class.to_s == 'Item' %>
  <%= link_to edit_item_path(r), :target => '_blank' do%><button_edit>改</button_edit><% end %>
  <span id= "<%= "recommend_#{r.id}"%>"><%= link_to recommend_path(r.id), :remote => true, :target => '_blank' do%><button_edit>荐</button_edit><% end %></span>
<% else %>
  <span id= "<%= "recommend_#{r.item_index}"%>"><%= link_to new_recommend_path(:key_word_id => @key_word.id, :title => r.title, :url=> r.url, :updated_date => r.updated_date, :summary => r.summary, :item_index => r.item_index), :remote => true, :target => '_blank' do%><button_edit>荐</button_edit><% end %></span>
<% end %>
        </span>
      </h3>
      <p class="green"><%= truncate(r.url, :length => 80, :omission => '...') %> &nbsp;&nbsp; 更新日期：<span><%= r.updated_date %></span></p>
      <p class="summary"><%= (r.summary).html_safe %></p>
      <div class="edit_result" id = "<%=index%>">

      </div>
    </div>
    <hr/>
  <% end %>

  <div id="paginate">
    <%= link_to "第一页", "/?t=#{@result[:source]}&q=#{params[:q]}&page=1" %>
    <% (2..10).each do |pn| %>
      <% if pn == @page %>
        <span><%= pn %></span>
      <% else %>
        <%= link_to pn, "/?t=#{@result[:source]}&q=#{params[:q]}&page=#{pn}" %>
      <% end %>
    <% end %>
    <%= link_to "下一页", "/?t=#{@result[:source]}&q=#{params[:q]}&page=#{ params[:page].to_i > 10 ? (params[:page].to_i + 1) : 11}" %>
  </div>
<% end %>