<% title "网络小说排行榜 - 搜一下" %>

<table>
  <tr>
    <th width="40px"> 排名 </th>
    <th width="300px"> 小说名 </th>
    <th> &nbsp; </th>
    <th width="80px"> 今日指数 </th>
    <th width="80px"> 近七日指数 </th>
    <th width="40px"> 趋势 </th>
  </tr>
<% @result[:record_arr].each_with_index do |r, index| %>
  <tr>
    <td> <%= index  %> </td>
    <td> <%= link_to r.key_word, "/?t=web&q=#{r.key_word}" %></td>
    <td> <%= link_to '', "/?t=web&q=#{r.key_word} 小说", :class=> 'detail' %></td>
    <td> <%= r.today_count %></td>
    <td> <%= r.total_count %></td>
    <td> <span class="trend <%= r.trend == '升' ? 'rise' : (r.trend == '降' ? 'down' : 'fair')%>"></span></td>
  </tr>
<% end %>
</table>