<%= form_for(@contact, :html => {:class => 'yform'}) do |f| %>
  <% if @contact.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@contact.errors.count, "error") %> prohibited this contact from being saved:</h2>

      <ul>
      <% @contact.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <!--div class="field">
    <%= f.label :email, '电子邮件' %><br />
    <%= f.text_field :email %>
  </div -->
  <div class="field">
    <%= f.label :title, '意见标题:' %>
    <%= f.text_field :title, :size => 40 %>
  </div>
  <div class="field">
    <%= f.label :content, '意见内容:' %>
    <%= f.text_area :content, :cols => 120 %>
  </div>
  <div class="actions">
    <%= f.submit '好了，提交！' %>
  </div>
<% end %>
