<p id="notice"><%= notice %></p>

<p>
  <b>关键词:</b>
  <%= @item.key_word.name %>
</p>


<p>
  <b>标题:</b>
  <%= @item.title %>
</p>

<p>
  <b>链接:</b>
  <%= link_to @item.url, @item.url %>
</p>

<p>
  <b>更新时间:</b>
  <%= @item.updated_date %>
</p>

<p>
  <b>描述:</b>
  <%= @item.summary %>
</p>


<%= link_to '返回', "/?t=web&q=#{@item.key_word.name}" %>
