<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) || "搜一下 - 第四代搜索引擎" %></title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="keywords" content = "搜一下，搜索引擎，第四代搜索引擎，小说，网络小说，小说搜索，网络小说排行榜，热门网络小说" />
  <meta name="description" content ="www.syixia.com 元搜索引擎，中文第四代搜索引擎" />
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

	<!--[if lte IE 7]>
	  <link href="yaml/patches/patch_2-1-3.css" rel="stylesheet" type="text/css" />
	<![endif]-->
  <script language="javascript">
     $(document).ready(function(){
      //set div corner
        $('#page_margins').corner();
      //set input on focus
        //$('#q').focus();
        $('#go-top').click(function(){
          $('#q').focus();
          $('#q')[0].value = '';
        });

        var index = 1
        $('#result' + index).focus(function(){
          $('#q').focus();
        });
      });
  </script>
</head>
<body>
	<div class="page_margins" id="page_margins">
		<div class="page">
			<div id="header" role="banner">
				<div id="topnav" role="contentinfo">
					<span> <a href="/admin">登录</a> | <a href="/welcome/contact">联系</a> | 
          <a onclick="AddFavorite(window.location,document.title)" style="cursor:hand">加入收藏</a> | 
          <a onclick="SetHome(this,window.location)" style="cursor:hand">设为首页</a></span>
				</div>
				<center><div class="center">
          <table border='0' width="600px">
          <tr><td width="160px"><%=link_to image_tag('logo.gif'), :root %></td><td align="left">
          <%= render :partial => 'layouts/form' %></td></tr>
          </table>
          </div></center>
			</div>
			<!-- begin: main navigation #nav 
			<div id="nav" role="navigation">
				<div class="hlist">
          <ul><li>
					本页展示结果 <%= @result.size  if @result %> Footer with copyright notice and status information
          </li></ul>
				</div>
			</div>
			end: main navigation -->

<!-- begin: main content area #main -->
    <div id="main">
      <% if notice %><div class="notice"><%= notice %></div><% end %>
      <% if alert %><div class="alert"><%= alert %></div><% end %>
      <!-- begin: #col1 - first float column -->
      <div id="col1" role="main">
        <div id="col1_content" class="clearfix">
          <%= yield %>
        </div>
      </div>
      <!-- end: #col1 -->

      <!-- begin: #col2 second float column -->
      <div id="col2" role="complementary">
        <div id="col2_content" class="clearfix">
          <%= yield :left_side_bar %>
        </div>
      </div>
      <!-- end: #col2 -->

      <!-- begin: #col3 static column 
      <div id="col3" role="complementary">
        <div id="col3_content" class="clearfix">
          
        </div>
        
        <div id="ie_clearing">&nbsp;</div>
      </div>
       end: #col3 -->
    </div>
    <!-- end: #main -->

	<!-- begin: #footer -->
    <%= render :partial =>"layouts/footer" %>
  <!-- end: #footer -->
		</div>
	</div>

  <div id="go-top" onClick="goTop();return false;">
    <%= image_tag asset_path('go_top.gif')%>
  </div>
	<!-- full skiplink functionality in webkit browsers -->
	<script src="/yaml/core/js/yaml-focusfix.js" type="text/javascript"></script>
  <script src="http://s19.cnzz.com/stat.php?id=3521223&web_id=3521223" language="JavaScript"></script>
</body>
</html>
